html, body{
  font-family:sans-serif;
  box-sizing:border-box;
  background-color:#212121;
  color:#fff;
  height:100%;
  margin:0px;
  overflow:hidden;
}
body{
  border:2px solid #111;
}
*, *:before, *:after {
  box-sizing:inherit;
}
h1{
  font-size:1.75em;
}
div{
  line-height: 1.8em;
  padding:.5em;
}
button, .button{
  display:inline-block;
  border:#fff solid 3px;
  background-color:rgba(255,255,255,0);
  color:#fff;
  font-size:1.25em;
  font-family:sans-serif;
  line-height:inherit;
  padding:0 .25em;
  text-decoration:none;
  cursor:pointer;
  user-select:none;
}
button:hover, .button:hover{
  background-color:rgba(255,255,255,1);
  color:#212121;
}
button[disabled][disabled], .button.disabled.disabled.disabled, button[disabled][disabled]:hover:hover,
.button.disabled:hover, .button[disabled]{
  background-color:#757575;
  color:#fff;
}
.button.textinput{
  color:#fff;
  background-color:rgba(255,255,255,0);
  cursor:text;
}
.center{
  text-align:center;
}
.fill > *{
  width:100%;
}
.fill > button, .fill > .button{
  margin-bottom:4px;
}
.grid{
  display:grid;
  grid-template-columns:auto 1fr;
}
.grid > *{
  margin:4px;
}
.grid > .textareaContainer{
  width:auto;
  overflow:hidden;
}
.grid > .textareaContainer > textarea{
  max-width:100%;
  width:100%;
  min-width:100%;
  min-height:4em;
  height:4em;
  max-height:20em;
}
.relative{
  position:relative;
}
.none.none.none.none.none{
  display:none;
}
.expanded > div{
  max-width:calc(50% - 3px);
  display:inline-block;
  vertical-align:top;
}
#coverPic{
  margin-top:4px;
  border:1px solid #fff;
}
#muteBtn{
  position:absolute;
  top:4px;
  right:16px;
}
.loading #loading{
  display:block;
}
#content{
  padding:0;
}
#loading{
  z-index:100;
  background-color:rgba(25,25,25,.75);
  display:none;
}
#loading img{
  width:5em;
  height:5em;
  margin:auto;
}
#loading,#loading img{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
}
#dragDropOverlay{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  max-width:initial;
  z-index:100;
  padding:2em;
  background-color:rgba(0,0,0,.80);
}
#dragDropOverlay #overlayText{
  font-size:18pt;
  padding:3em 1em;
  height:100%;
  border-radius:1em;
  border:5px solid #fff;
  pointer-events:none;
}
#titlebar{
  display:none;
  height:32px;
  line-height:32px;
  background-color:#111;
  color:#EEEEEE;
}
#titlebar div, #titlebar span{
  padding:0;
  text-align:center;
  user-select:none;
}
#titlebar #dragRegion{
  position:relative;
  height:32px;
  -webkit-app-region:drag;
  padding-top:1px;
}
#titlebar img{
  position:absolute;
  display:none;
  left:4px;
  top:4px;
  bottom:0;
  height:22px;
  width:22px;
}
#titlebar #windowControls{
  display:none;
  position:absolute;
  right:0;
  top:0;
}
#titlebar #windowControls .tbButton{
  display:inline-block;
  width:46px;
  height:30px;
  -webkit-app-region:no-drag;
}
#titlebar #windowControls .tbButton:hover{
  background-color:rgba(255,255,255,0.2);
  color:#fff;
}
#titlebar #windowControls #closeButton:hover{
  background: #E81123;
}