html, body{
    font-family:sans-serif;
    box-sizing:border-box;
    background-color:#212121;
    color:#fff;
    height:100%;
    margin:0px;
    overflow:hidden;
}
*, *:before, *:after {
  box-sizing:inherit;
}
h1{
  font-size:1.75em;
}
div{
  line-height: 1.8em;
  padding:.5em;
}
button, .button{
  display:inline-block;
  border:#fff solid 3px;
  background-color:rgba(255,255,255,0);
  color:#fff;
  font-size:1.25em;
  font-family:sans-serif;
  line-height:inherit;
  padding:0 .25em;
  text-decoration:none;
  cursor:pointer;
}
button:hover, .button:hover{
  background-color:rgba(255,255,255,1);
  color:#212121;
}
button[disabled][disabled], .button.disabled.disabled.disabled, button[disabled][disabled]:hover:hover,
.button.disabled:hover, .button[disabled]{
  background-color:#757575;
  color:#fff;
}
.button.textinput{
  color:#fff;
  background-color:rgba(255,255,255,0);
  cursor:text;
}
.center{
  text-align:center;
}
.fill > *{
  width:100%;
}
.fill > button, .fill > .button{
  margin-bottom:4px;
}
.grid{
  display:grid;
  grid-template-columns:auto 1fr;
}
.grid > *{
  margin:4px;
}
.grid > .textareaContainer{
  width: auto;
  overflow:hidden;
}
.grid > .textareaContainer > textarea{
  max-width:100%;
  width:100%;
  min-width:100%;
  min-height:4em;
  height:4em;
  max-height:20em;
}
.relative{
  position:relative;
}
.none.none.none.none.none{
  display:none;
}
.expanded > div{
  max-width:calc(50% - 3px);
  display:inline-block;
  vertical-align:text-top;
}
#coverPic{
  margin-top:4px;
  border:1px solid #fff;
}
#muteBtn{
  position:absolute;
  top:4px;
  right:16px;
}
.loading #loading{
  display:block;
}
#loading{
  z-index:100;
  background-color:rgba(25,25,25,.75);
  display:none;
}
#loading img{
  width:5em;
  height:5em;
  margin: auto;
}
#loading,#loading img{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
}
